.baner {
  width: 100%;
}

.baner img {
  width: 100%;
}

.wishlist_detels {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header_wishlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header_Product header_Product  header-Price  header-subtotal header-delete ";
  background-color: var(--second_background_color);
  height: 50px;
  padding: 0 10px;
  justify-items: center;

  align-items: center;
}
.wishlist_product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "produc_image produc_name   product_price  subtotal delete";
  justify-items: center;
  align-items: center;
}

.wishlist_detels .header_Product {
  grid-area: header_Product;
}
.wishlist_detels .header-Price {
  grid-area: header-Price;
}
.wishlist_detels .header-Quantity {
  grid-area: header-Quantity;
}
.wishlist_detels .header-subtotal {
  grid-area: header-subtotal;
}
.wishlist_detels .header-delete {
  grid-area: header-delete;
}
.wishlist_detels .produc_image {
  grid-area: produc_image;
}
.wishlist_detels .produc_name {
  grid-area: produc_name;
}
.wishlist_detels .product_price {
  grid-area: product_price;
}

.wishlist_detels .subtotal {
  grid-area: subtotal;
}
.wishlist_detels .lift .delete {
  grid-area: delete;
}
.wishlist_detels .produc_image {
  border-radius: 5px;
}
.wishlist_detels .produc_image img {
  width: 70%;
  object-fit: cover;
  border-radius: 5px;
}

.wishlist_detels .wishlist_product .produc_name p,
.wishlist_detels .wishlist_product .product_price {
  font-size: 1rem;
  color: #908b8b;
}

.wishlist_detels .wishlist_product .delete {
  color: var(--primary_color);
  cursor: pointer;
}

@media (max-width: 800px) {
  .wishlist_detels {
    width: 90%;
  }

  .header_wishlist {
    width: 100%;
    padding: 5px;


  }
}

@media (max-width: 600px) {
  .wishlist_detels {
    width: 100%;
  }

  .wishlist_detels {
    padding: 20px 10px;
    width: 100%;
  }
  .wishlist_product {
    gap: 10px;
  }
  .wishlist_detels .produc_image img {
    width: 75%;
    object-fit: cover;
    border-radius: 5px;
  }
}
